<div class="theory">
    <h1>How to use ?</h1>
    <p>Playground demonstrates diffrent kinds of modulation. You can specify signal and carry frequency. You are also allowed to pick sequence of bits. Any change in data input is reflected in chart. </p> 
    
    <c-header title="BPSK" href="https://en.wikipedia.org/wiki/Phase-shift_keying#Binary_phase-shift_keying_(BPSK)"></c-header>

    <p>BPSK stands for Binary Phase Shift Keying. It's a two phase modulation scheme. Binary message is represented by two phases states in carrier signal - 0&#176; for 1 and 180&#176; for 0. </p>
    <svg class="konstelacja" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="191px" height="184.667px" viewBox="0 0 191 184.667" enable-background="new 0 0 191 184.667" xml:space="preserve">
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="88" y1="8.667" x2="88" y2="184.667"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="4.667" y1="97.667" x2="177.333" y2="97.667"/>
    <circle fill="#F47751" cx="33.5" cy="97.167" r="6.167"/>
    <circle fill="#F47751" cx="150.667" cy="97.333" r="6.167"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M80.333,18"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M88,8.667"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M98.333,18"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M80.333,18"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M70.5,47.5"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M98.333,18"/>
    <rect x="23.333" y="108.5" fill="none" width="33" height="23"/>
    <text transform="matrix(1 0 0 1 23.3333 117.3828)" font-family="'MyanmarText'" font-size="12">-1</text>
    <rect x="147" y="108.5" fill="none" width="33" height="23"/>
    <text transform="matrix(1 0 0 1 147 117.3828)" font-family="'MyanmarText'" font-size="12">1</text>
    <rect x="29.333" y="78" fill="none" width="49" height="44"/>
    <text transform="matrix(1 0 0 1 29.3333 86.8828)" fill="#F47751" font-family="'MyanmarText'" font-size="12">0</text>
    <rect x="147" y="78" fill="none" width="33" height="23"/>
    <text transform="matrix(1 0 0 1 147 86.8828)" fill="#F47751" font-family="'MyanmarText'" font-size="12">1</text>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="501.5" y1="54.5" x2="501.5" y2="60"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M132,122"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M114,4.5"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M84.333,12"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M88,8.667"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M91.25,11.917"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M88,8.667"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M84.333,11.917"/>
    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M91.25,11.917"/>
    <polygon stroke="#000000" stroke-miterlimit="10" points="84.946,9.135 88,3.845 91.054,9.135 "/>
    <polygon stroke="#000000" stroke-miterlimit="10" points="177.477,100.296 177.345,94.235 182.74,97.196 "/>
    <rect x="96" y="4.5" fill="none" width="72" height="100"/>
    <text transform="matrix(1 0 0 1 96 13.3828)" font-family="'MyanmarText'" font-size="12">Q</text>
    <polygon fill="none" points="201.424,124.959 186.5,124.5 172.5,104.5 197.5,104.5 "/>
    <text transform="matrix(1 0 0 1 178.7148 113.3828)" font-family="'MyanmarText'" font-size="12">I</text>
    </svg>

    <br>
    <c-header title="QPSK" href="https://en.wikipedia.org/wiki/Phase-shift_keying#Quadrature_phase-shift_keying_(QPSK)"></c-header>
    <p>QPSK means Quadrature Phase Shift Keying. It is another variant of phase-shifting keying modulation. 
        By constructing symbol with two bits, it can use a four different orthogonal values of the phase. 
        Above digital modulation demo presents phases: &#x03A0;/4, 3&#x03A0;/4, 5&#x03A0;/4, 7&#x03A0;/4.
    </p>


    <c-header title="QAM" href="https://en.wikipedia.org/wiki/Quadrature_amplitude_modulation"></c-header>
    
    <p>
        Quadrature amplitude modulation is both an analog and a digital modulation scheme. 
        It conveys two analog message signals, or two digital bit streams, by modulating the amplitudes of two carrier waves, 
        using the amplitude-shift keying (ASK) digital modulation scheme or amplitude modulation (AM) analog modulation scheme. 
        The two carrier waves of the same frequency, usually sinusoids, are out of phase with each other by 90° and are thus called 
        quadrature carriers or quadrature components — hence the name of the scheme. The modulated waves are summed, and the final waveform is a 
        combination of both phase-shift keying (PSK) and amplitude-shift keying (ASK), or, in the analog case, of phase modulation (PM) and amplitude modulation.
        <br>
        QAM could modulates signal by using diffrent numbers of bits, for example 8-QAM uses 3 bits per symbol and 64-QAM uses 6 bits - hence the prefixes, because 2 raised to the power of 3 is 8 and to the power of 6 is 64.      
        <br>
        In the playground, 8-QAM, 16-QAM and 64-QAM are implemented in their rectangular constellation instance.  
    </p>
    
    <h1>Authors</h1>
    <p>Above application was created by Anna J and Wojciech K by using <a href="https://plot.ly/javascript/">plotly.js</a></p>
</div>

