<div class="theory">
    <h1>How to use ?</h1>
    <p>Playground demonstrates diffrent kinds of modulation. You can specify signal and carry frequency. You are also allowed to pick sequence of bits. Any change in data input is reflected in chart. </p> 
    
    <c-header title="BPSK" href="https://en.wikipedia.org/wiki/Phase-shift_keying#Binary_phase-shift_keying_(BPSK)"></c-header>

    <p>BPSK stands for Binary Phase Shift Keying. It's a two phase modulation scheme. Binary message is represented by two phases states in carrier signal - 0&#176; for 1 and 180&#176; for 0. </p>
    <constellation [modulation]="'BPSK'"></constellation>

    <br>
    <c-header title="QPSK" href="https://en.wikipedia.org/wiki/Phase-shift_keying#Quadrature_phase-shift_keying_(QPSK)"></c-header>
    <p>QPSK means Quadrature Phase Shift Keying. It is another variant of phase-shifting keying modulation. 
        By constructing symbol with two bits, it can use a four different orthogonal values of the phase. 
        Above digital modulation demo presents phases: &#x03A0;/4, 3&#x03A0;/4, 5&#x03A0;/4, 7&#x03A0;/4.
    </p>
    <constellation [modulation]="'QPSK'"></constellation>

    <c-header title="QAM" href="https://en.wikipedia.org/wiki/Quadrature_amplitude_modulation"></c-header>
    
    <p>
        lorem 
    </p>
    <div class="constellation-wrapper">
    <constellation [modulation]="'8QAM'"></constellation>
    <constellation [modulation]="'16QAM'"></constellation>
    <constellation [modulation]="'64QAM'"></constellation>
</div>
    <h1>Authors</h1>
    <p>Above application was created by Anna J and Wojciech K by using <a href="https://plot.ly/javascript/">plotly.js</a></p>
</div>

