.container{
  /* display: flex;
  flex-direction: column; */
}

.header{
  width:100%;
  height: 170px;
  background-color: #242324;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
}

#menu {
    min-height: 110px;
    background: #fafafa;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 20px rgba(3,3,2,0.2)
}

#menu .menu-wrapper {
  width: 100%;
}

#menu .menu-wrapper .option-set{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#menu .menu-wrapper .option-set .set-name{
  color: #525252;
  padding: 10px 0;
  margin-left: 10px;
}
.signal-menu{
  letter-spacing: 1.5px;
  border-right: 1px solid #f77750;
  padding: 5px;
}
.b-set-name{
  text-transform: uppercase;
  color: #f77750;
  margin-left: 20px;
}
        
[type="radio"] {
  width: 0px;
}

.label-radio {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #f77750;
}

[type="radio"] + span:before {
  transform: scale(0.35); 
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #f77750;
  margin-right: 0.25em;
  transition: 0.5s ease all;
}

[type="radio"]:checked + span:before {
  background: #ff864e;
  box-shadow: 0 0 0 0.1em #f76b40;
}

.slider {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  height: 35px;
  width: 120px;
}

.slider .input-data {
  font-size: 12px;
  align-self: center;
  padding-bottom: 5px;
}

[type="range"] {
  display:flex;
  appearance: none;
  height: 1px;
  background: #ff864e;
  outline: 0;
  cursor: pointer;
  width: 120px;
}
        
[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
  background-color: #ff864e;
  cursor: pointer;
  border-radius: 50%;
}

[type="range"]::-webkit-slider-thumb:focus {
  appearance: none;
  cursor: pointer;
  border-radius: 10%;
}

.custom-input-data {
  outline: 0;
  margin-top: -5px;
  display: flex;
}

.custom-input-data input {
  background: transparent;
  border: 0px;
  outline: none;
  border-bottom: 1px solid #f77750;
  color: #f77750;
  margin: 0 10px;
  width: 120px;
  font-size: 14px;
}

select{
  background: transparent;
  border: none;
  color: #f77750;
  outline: none;
}

.content {
  padding: 20px 5px 0px 5px;
}

.custom-select{
  margin: 0px 10px 0px 5px;
}
.custom-select-drop{
  cursor: pointer;
  position: relative;
  width: 80px;
}

.options-container{
  position: absolute;
  display: flex;
  flex-flow: column;
  background-color: white;
  top: 20px; 
  /* left: 45px;  */
  width: 80px;
  z-index: 999;
}

.label-radio{
  padding: 10px;
}

.label-radio:hover{
  background-color: #fafafa;
}
.options-container [type="radio"] + span:before {
  content:none;
}

/* @media (max-width: 450px){
  .option-set {
    display: flex;
    align-items: center;
    flex-direction: column; 
  }
} */

.input-container {
  position:relative;
  transition: 0.5s;
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 1px solid #d8d4d3;
  -webkit-transition:0.5s;
  width: 180px;
}

.small{
  width: 50px;
}

.input-container:hover {
  border-bottom: 1px solid rgba(0,0,0,0);
}

.input-container::before {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:1px;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.input-effect::before {
  border-bottom: 1px solid #f76b40;
  -webkit-transform-origin: 50% 100%;
}

.input-container:hover::before {
  -webkit-transform: scale(1);
}

input{
  z-index:999;
  position: relative;
  outline: none;
  border: none;
  background-color: transparent;
  color: #f77750;
  /* width: 120px; */
}

.scale{
  margin: 0px 20px 0px 2px;
}

.plot-wrap {
  height: 450px;
  position: relative;
}
/* 
input:focus {
  border-bottom: 1px solid #f76b40;
} */

.validator{
  position: absolute;
  width: 100px;
}

::-webkit-input-placeholder{
  color: #cfcdcd;
}

.calculating {
  position: absolute;
  font-size: 20px;
  top: calc(50% - 27px);
  left: calc(50% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1350px){
  #menu {
    padding: 10px 0px;
  }
  #menu .menu-wrapper .option-set {
    justify-content: flex-start;
  }
}

@media (max-width: 1350px){
  #menu {
    padding: 10px 0px;
  }
  #menu .menu-wrapper .option-set {
    justify-content: flex-start;
  }
}
@media (max-width: 750px){
  .header {
    font-size: 26px;
    height: 100px;
  }
  .calculating {
    font-size: 16px;
    top: calc(50% + 100px);
    left: calc(50% - 100px);
  }
}
svg{
  width: 75px;
}

.svg-big{
  width: 100px;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 1s linear infinite;
  stroke: #f77750;
}

@keyframes dash {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

