<div class="container" id="container">
<div class="header">digital modulations demo</div>
<div id="wrap" [ngClass]="{'wrap': true}">
    <div id="menu">
        <div class="menu-wrapper">
            <div *ngFor="let form of menuForm, let i=index">
            <form [formGroup]="form">
                <div class="option-set"> 
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="140.5px" height="34.5px" viewBox="0 0 140.5 34.5" enable-background="new 0 0 140.5 34.5" xml:space="preserve">
                   <path fill="#7D5855" stroke="#7D5855" stroke-miterlimit="10" d="M-147.667-140.333"/>
                   <polyline  class="path" fill="none" stroke="#AEADAD" stroke-miterlimit="10" points="5,29.5 30,29.5 30,4.554 55,4.554 55,29.5 80,29.5 80,4.554 
                       105,4.554 105,29.5 130,29.5 "/>
                   </svg>
                    <span>signal {{i+1}}</span>
                    <div class="set-name">signal freq:</div>
                   <div class='input-container input-effect small'>
                        <input formControlName="signalFrequency" placeholder="1" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)"/>
                      </div>
                      <div class="scale"> MHz </div>

                    <div class="set-name">carry freq</div>
                    <div class='input-container input-effect small'>
                        <input formControlName="inputFrequency" placeholder="20" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)"/>
                      </div>
                    <div class="scale"> MHz </div>

                    <div class="set-name">vector:</div>
                    <div class='input-container input-effect'>
                            <input formControlName="inputVector" placeholder="10101" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)">                    
                            <div class='validator' [hidden]="!form.get('inputVector')?.errors?.pattern">use 0 or 1</div>
                    </div>
                    <div class="set-name">length:</div>
                    <div class="slider">
                        <div class="input-data">{{form.value.inputDataLength}}</div>
                        <div>
                            <input [ngStyle]="sliderColor(form)" type="range" min="1" max="20" value="5" formControlName="inputDataLength"> 
                        </div>
                    </div>
                    <div class="set-name">data:</div>
                    <div class="input-container input-effect">
                            <input formControlName="inputData" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)">                   
                            <div class='validator' [hidden]="!form.get('inputData')?.errors?.pattern">use 0 or 1</div>
                    </div>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>

    <div class="content">
        <!-- <div>{{menuForm[0].value |json}}</div> -->
        <new-plot *ngIf="valid" #plot [paramsSet]="paramsSet"></new-plot>

        <div class="calculating" *ngIf="!valid">waiting for valid input data...
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="140.5px" height="34.5px" viewBox="0 0 140.5 34.5" enable-background="new 0 0 140.5 34.5" xml:space="preserve">
   <path fill="#7D5855" stroke="#7D5855" stroke-miterlimit="10" d="M-147.667-140.333"/>
   <polyline  class="path" fill="none" stroke="#AEADAD" stroke-miterlimit="10" points="5,29.5 30,29.5 30,4.554 55,4.554 55,29.5 80,29.5 80,4.554 
       105,4.554 105,29.5 130,29.5 "/>
   </svg>
</div>
    <br>
    <!-- {{paramsSet |json}} -->
    </div>
</div>
