<div class="top-container">
<div class="header">digital modulations demo </div>
<div id="wrap" [ngClass]="{'wrap': true}">
    <div id="menu">
        <div class="menu-wrapper">
            <div *ngFor="let form of menuForm, let i=index">
            <form [formGroup]="form">
                <div class="option-set"> <span>signal {{i+1}}</span>
                    <div class="set-name">bit rate:</div>
                   <div class='input-container input-effect'>
                        <input formControlName="bitsSpeed" placeholder="500" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)"/>
                      </div>
                      <div class="scale">kb/s</div>

                    <div class="set-name">transmission frequency</div>
                    <div class='input-container input-effect'>
                        <input formControlName="inputFrequency" placeholder="20" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)"/>
                      </div>
                    <div class="scale"> MHz </div>

                    <div class="set-name">vector:</div>
                    <div class='input-container input-effect'>
                            <input formControlName="inputVector" placeholder="10101" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)">                    
                            <div class='validator' [hidden]="!form.get('inputVector')?.errors?.pattern">use 0 or 1</div>
                    </div>
                    <div class="set-name">length:</div>
                    <div class="slider">
                        <div class="input-data">{{form.value.inputDataLength}}</div>
                        <div>
                            <input [ngStyle]="sliderColor(form)" type="range" min="0" max="20" value="5" formControlName="inputDataLength"> 
                        </div>
                    </div>
                    <div class="set-name">data:</div>
                    <div class="input-container input-effect">
                            <input formControlName="inputData" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)">                   
                            <div class='validator' [hidden]="!form.get('inputData')?.errors?.pattern">use 0 or 1</div>
                    </div>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>

    <div class="content">

        <div>{{menuForm[0].value |json}}</div>
        <div>{{menuForm[1].value |json}}</div>

     
        <div>SOME CONTENT</div>

  
        <plot></plot>
        <control-panel></control-panel>

    </div>
</div>